<div class="flex justify-center mt-[6.7rem] flex-col items-center">
  <div class="w-[110.1rem] justify-center text-center">
    <h1 class="font-[50rem] text-[4.8rem] text-[#282C7F] tracking-[.1em]">
      Un espacio de café mágico para compartir experiencias
    </h1>
  </div>
  <div class="mt-[1.8rem]">
    <img class="w-[22rem]" src="../../../assets/img/taza.png" alt="" />
  </div>
  <div class="mt-[2rem]">
    <p class="text-[#282C7F] text-[2.4rem] font-bold">Cali, Valle del Cauca</p>
  </div>
  <div class="mt-[2.2rem]">
    <button
      class="bg-[#282C7F] rounded-[1.6rem] text-[3.2rem] pl-[1.6rem] pr-[1.6rem] pb-[.2rem] font-bold text-white flex justify-center items-center"
      (click)="scrollToSection('#menuSeccion')">
      <p class="m-0">Conoce nuestro menú</p>
    </button>
  </div>
  <div class="mt-[1rem]">
    <div
      class="flex w-[4rem] h-[4rem] bg-[#282C7F] rounded-[50%] justify-center items-center cursor-pointer"
      (click)="scrollToSection('#menuSeccion')">
      <div>
        <img src="../../../assets/img/icons/flecha.svg" alt="" />
        <img src="../../../assets/img/icons/flecha.svg" alt="" />
      </div>
    </div>
  </div>
</div>
