<div
  class="flex justify-center mt-[10rem] flex-col items-center ml-[7.2rem] mr-[7.2rem] mb-[10rem]"
>
  <div
    #imgOverlayContainer
    class="w-full h-full absolute hidden z-50 justify-center"
  >
    <img
      #imgOverlay
      class="h-[80%] mt-[.5rem] z-50"
      src="../../../assets/img/1.png"
      alt=""
    />
    <div
      class="bg-black w-full h-full absolute flex opacity-80 justify-center"
    ></div>
  </div>
  <h2 class="text-[4.8rem] font-bold tracking-[.08em] text-[#22254C]">Galería</h2>
  <div class="mt-[2rem] w-full max-[768px]:ml-[34rem] max-[440px]:ml-[55rem] overflow-hidden">
    <div class=" max-[769px]:overflow-x-auto max-[769px]:whitespace-nowrap w-full">
      <div class="flex justify-center gap-[1.2rem] items-center w-full max-[768px]:w-[88.4rem]">
        <div class="max-[769px]:hidden hover:scale-105 duration-200 ease-in-out cursor-pointer rotate-180 max-[1024px]:scale-90">
          <img src="../../../assets/img/icons/flecha_galeria.svg" alt="">     
       </div>
       <div class="hover:scale-105 duration-200 ease-in-out cursor-pointer shadow-[0_35px_60px_-15px_rgba(0,0,0,0.3)] w-[47.3rem] h-[58.5rem] rounded-[2.4rem] max-[1440px]:w-[40rem] max-[1440px]:h-[53rem] max-[1024px]:w-[30rem] max-[1024px]:h-[42rem] max-[768px]:w-[34rem] max-[768px]:h-[47rem] max-[440px]:w-[30rem] max-[440px]:h-[43rem]">
         <img class=" object-cover w-full h-full rounded-[2.4rem]" src="../../../assets/img/1.png" alt="">
       </div>
       <div class=" hover:scale-105 duration-200 ease-in-out cursor-pointer shadow-[0_35px_60px_-15px_rgba(0,0,0,0.3)] w-[51.3rem] h-[63.44rem] rounded-[2.4rem] max-[1440px]:w-[43rem] max-[1440px]:h-[58rem] max-[1024px]:w-[32rem] max-[1024px]:h-[47rem] max-[768px]:w-[32rem] max-[768px]:h-[42rem] max-[440px]:w-[28rem] max-[440px]:h-[41rem]">
         <img class=" object-cover w-full h-full rounded-[2.4rem]" src="../../../assets/img/2.png" alt="">
       </div>
       <div class=" hover:scale-105 duration-200 ease-in-out cursor-pointer shadow-[0_35px_60px_-15px_rgba(0,0,0,0.3)] w-[47.3rem] h-[58.5rem] rounded-[2.4rem] max-[1440px]:w-[40rem] max-[1440px]:h-[53rem] max-[1024px]:w-[30rem] max-[1024px]:h-[42rem] max-[768px]:w-[32rem] max-[768px]:h-[42rem] max-[440px]:w-[28rem] max-[440px]:h-[41rem]">
         <img class=" object-cover w-full h-full rounded-[2.4rem]" src="../../../assets/img/3.png" alt="">
       </div>
       <div class="max-[769px]:hidden hover:scale-105 duration-200 ease-in-out cursor-pointer max-[1024px]:scale-90">
           <img src="../../../assets/img/icons/flecha_galeria.svg" alt="">
       </div>
     </div>
      </div>
    <div class="max-[768px]:ml-[-31rem] flex justify-center mt-[3rem] gap-[1rem] max-[440px]:justify-start max-[440px]:ml-[8rem]">
        <div class="cursor-pointer hover:scale-125 duration-200 ease-in-out w-[4rem] border-[.2rem] border-[#555555] h-[.1rem] rounded-[2.6rem]"></div>
        <div class="cursor-pointer hover:scale-125 duration-200 ease-in-out w-[4rem] border-[.2rem] border-[#fff] h-[.1rem] rounded-[2.6rem]"></div>
        <div class="cursor-pointer hover:scale-125 duration-200 ease-in-out w-[4rem] border-[.2rem] border-[#fff] h-[.1rem] rounded-[2.6rem]"></div>
    </div>
  </div>
</div>

<!--<div class="flex justify-center mt-[10rem] flex-col items-center ml-[7.2rem] mr-[7.2rem] mb-[10rem]">
    <div #imgOverlayContainer class=" w-full h-full absolute hidden z-50 justify-center">
        <img #imgOverlay class="h-[80%] mt-[.5rem] z-50" src="../../../assets/img/1.png" alt="">
        <div class="bg-black w-full h-full absolute flex  opacity-80 justify-center">

        </div>
        
    </div>
    <h2 class="text-[4.8rem] tracking-[.08em] text-[#22254C]">Galería</h2>
    <div #galeryContainer class="h-[58rem] overflow-hidden transition-height duration-300 ease-in-out mt-[5rem]">
        <div class="flex gap-[1.35rem] ">
            <div class="absolute bg-[#FFFFFF] mt-[26.4rem] right-[7.2rem] rounded-[1.6rem] pl-[.8rem] pr-[.8rem] cursor-pointer z-40" (click)="showGalery()">
                <p class="font-['Libre_Franklin'] text-[3.2rem] font-bold text-[#282C7F]">Ver Galeria <span #more class="">+</span></p>
            </div>
            <div #leftSide class="flex flex-col gap-y-[1rem] w-[50%]  rounded-[2.4rem]">

            </div>
            <div #rightSide class="w-[50%] flex flex-col gap-y-[1.35rem] rounded-[2.4rem]">
                
            </div>
        </div>
    </div>
</div>-->
