<div class="w-full justify-center flex mt-[8rem]">
  <h2 class="text-[3.4rem] max-[768px]:text-[2.2rem] font-bold text-[#22254C]">Galería</h2>
</div>
<div
  class="snap-mandatory snap-x max-[768px]:overflow-scroll w-full h-[74.3rem] flex items-center justify-center max-[768px]:h-[30rem] max-[1024px]:h-[50rem] max-[1440px]:h-[65rem] max-[768px]:justify-start"
>
  <div
    class=" max-[768px]:hidden max-[768px]:ml-[50rem] flex gap-[3rem] max-[1440px]:gap-[2rem] max-[1024px]:gap-[1rem] max-[768px]:gap-[1.5rem] items-center justify-center"
  >
    <div
      #flechaIzq
      (click)="lessGalery()"
      class="max-[769px]:hidden hover:scale-105 duration-200 ease-in-out cursor-pointer rotate-180 max-[1024px]:scale-90"
    >
      <img  *ngIf="selectedSection !== 0" src="../../../assets/img/icons/flecha_galeria.svg" alt="" />
    </div>
    <!--Galery1-->
    <div
      #galery1
      (click)="imgClick(this.elementsGaleries[gallery1].id - 1)"
      class="overflow-hidden transition-all max-[768px]:w-[35.3rem] max-[768px]:h-[46.5rem] hover:scale-105 ease-in-out duration-500 max-[1024px]:w-[26rem] max-[1024px]:h-[36rem] max-[1440px]:w-[35.3rem] max-[1440px]:h-[46.5rem] w-[47.3rem] h-[58.5rem] rounded-[2.4rem]"
    >
      <img
        class="object-cover w-full h-full rounded-[2.4rem]"
        src="{{ this.elementsGaleries[gallery1].url }}"
        alt=""
      />
    </div>
    <!--Galery2-->
    <div
      #galery2
      (click)="imgClick(this.elementsGaleries[gallery2 + 1].id - 1)"
      class="overflow-hidden transition-all max-[768px]:w-[35.3rem] max-[768px]:h-[46.5rem] hover:scale-105 ease-in-out duration-500 max-[1024px]:w-[31rem] max-[1024px]:h-[42rem] max-[1440px]:w-[47.3rem] max-[1440px]:h-[57.4rem] w-[51.3rem] h-[63.4rem] rounded-[2.4rem]"
    >
      <img
        class="object-cover w-full h-full rounded-[2.4rem]"
        src="{{ this.elementsGaleries[gallery2 + 1].url }}"
        alt=""
      />
    </div>
    <!--Galery3-->
    <div
    #galery3
      (click)="imgClick(this.elementsGaleries[gallery3 + 2].id - 1)"
      class="overflow-hidden transition-all max-[768px]:w-[35.3rem] max-[768px]:h-[46.5rem] hover:scale-105 ease-in-out duration-500 max-[1024px]:w-[26rem] max-[1024px]:h-[36rem] max-[1440px]:w-[35.3rem] max-[1440px]:h-[46.5rem] w-[47.3rem] h-[58.5rem] rounded-[2.4rem]"
    >
      <img
        class="object-cover w-full h-full rounded-[2.4rem]"
        src="{{ this.elementsGaleries[gallery3 + 2].url }}"
        alt=""
      />
    </div>
    
    <div
      #flechaDerecha
      (click)="addGalery()"
      class="max-[769px]:hidden hover:scale-105 duration-200 ease-in-out cursor-pointer max-[1024px]:scale-90"
    >
      <img src="../../../assets/img/icons/flecha_galeria.svg" alt="" />
    </div>
  </div>
  <div
    class="snap-mandatory snap-x ml-[1rem] mr-[3rem] min-[769px]:hidden flex max-[768px]:gap-[.8rem] items-center"
  >
    <div
      *ngFor="let item of this.elementsGaleries"
      (click)="imgClick(item.id - 1)"
      class="transition-all relative snap-center max-[768px]:w-[17.7rem] max-[768px]:h-[21.8rem] ease-in-out duration-200 max-[1024px]:w-[26rem] max-[1024px]:h-[36rem] max-[1440px]:w-[35.3rem] max-[1440px]:h-[46.5rem] w-[47.3rem] h-[58.5rem] rounded-[2.4rem] section"
    >
      <div class=" rounded-[2.4rem] absolute object-cover w-full h-full opacity-[70%]"></div>
      <img
        class="object-cover w-full h-full rounded-[2.4rem]"
        [src]="item?.url"
        alt=""
      />
    </div>
  </div>
</div>
<div class="w-full justify-center flex gap-[.7rem] max-[768px]:hidden">
  <div
  *ngFor="let i of [].constructor(sections); let idx = index"
  class="w-[4rem] border-[.1rem] rounded-[.6rem] {{idx}}"
  [ngClass]="shouldApplyClass(idx)"
></div>
</div>
