<div class="absolute w-full"> <!--BackGround-->
    <img class="max-[450px]:hidden object-fill mt-[.6rem] max-[769px]:mt-[0rem]" src="../../../assets/img/icons/upWave.svg" alt="" />
    <img class="w-full min-[441px]:hidden object-fill mt-[.6rem] max-[769px]:mt-[0rem]" src="../../../assets/img/icons/mobileUpWave.svg" alt="" />
    <div class="min-[441px]:hidden h-[37.2rem] bg-white"></div>
    <img class="w-full min-[441px]:hidden object-fill mt-[-7rem] max-[769px]:mt-[0rem]" src="../../../assets/img/icons/mobileDownWave.svg" alt="" />
    <img class="max-[450px]:hidden object-fill mt-[-7rem] max-[769px]:mt-[0rem]" src="../../../assets/img/icons/downWave.svg" alt="" />
  </div>
<div
  class="flex justify-center mt-[6rem] flex-col items-center min-[769px]ml-[7.2rem] min-[769px]mr-[7.2rem] mb-[10rem] relative max-[768px]:ml-[2rem] max-[768px]:mr-[2rem]"
> <!--Main COntent-->
<div class="flex justify-center w-full">
  <h2 class=" max-[769px]:hidden text-[3.2rem] font-bold tracking-[.13em] text-[#22254C] text-center ">
    En nuestro Café Tacita encontrarás
  </h2>
  <h2 class=" min-[769px]:hidden text-[2.2rem] tracking-[.13em] text-[#22254C] text-center font-bold min-[767px]:text-[4.8rem] min-[767px]:mt-[7rem] max-[440px]: mt-[-1rem]">
    Nuestro Café
  </h2>
</div>
  
  <div class="flex gap-[5rem] max-[440px]:mt-[2rem] mt-[5rem] max-[768px]:flex-col max-[768px]:items-center justify-center min-[1000px]:ml-[7.2rem] min-[1000px]:mr-[7.2rem]"> <!--Bullets-->
    <div class="flex min-[769px]:flex-col items-center min-[769px]:w-[33.33%] gap-[1rem]"> <!--Bullets 1-->
      <img
        class="w-[22rem] h-[22rem] max-[440px]:w-[9rem] max-[440px]:h-[10rem]"
        src="../../../assets/img/Croissant.png"
        alt=""
      />
      <div class="flex flex-col min-[769px]:items-center w-[86%]">
        <p class="text-[3.2rem] font-bold tracking-[.1em] max-[440px]:text-[1.4rem]">Menú</p>
        <p class="text-[2.4rem] tracking-[.08em] max-[440px]:text-[1.4rem] text-black">
          Un exquisito menú para compartir entre amigos, familia o para tardear
          en soledad.
        </p>
      </div>
    </div>
    <div class="flex min-[769px]:flex-col items-center min-[769px]:w-[33.33%] gap-[1rem]"> <!--Bullets 2-->
      <img
        class="w-[22rem] h-[22rem] max-[440px]:w-[9rem] max-[440px]:h-[10rem]"
        src="../../../assets/img/granos-cafe.png"
        alt=""
      />
      <div class="flex flex-col min-[769px]:items-center w-[86%]">
        <p class="text-[3.2rem] font-bold tracking-[.1em] max-[440px]:text-[1.4rem]">Eventos</p>
        <p class="text-[2.4rem] tracking-[.08em] max-[440px]:text-[1.4rem] text-black">
          Diferentes actividades especiales cada mes; música, ferias y shows.
        </p>
      </div>
    </div>
    <div class="flex min-[769px]:flex-col items-center min-[769px]:w-[33.33%] gap-[1rem]"> <!--Bullets 3-->
      <img
        class="w-[22rem] h-[22rem] max-[440px]:w-[9rem] max-[440px]:h-[10rem]"
        src="../../../assets/img/pan.png"
        alt=""
      />
      <div class="flex flex-col min-[769px]:items-center w-[86%]">
        <p class="text-[3.2rem] font-bold tracking-[.1em] max-[440px]:text-[1.4rem]">Espacio</p>
        <p class="text-[2.4rem] tracking-[.08em] max-[440px]:text-[1.4rem] text-black">
          Tranquilo y agradable para que cada persona se sienta incluida
          (también las mascotas).
        </p>
      </div>
    </div>
  </div>
  <div class="mt-[3.2rem]">
    <a target="_blank" href="https://www.whatsapp.com/?lang=es_LA">
      <div class="border-[.2rem] border-[#282C7F] flex rounded-[1.6rem] pl-[1rem] pr-[1rem] gap-[1rem] max-[440px]:w-[33.5rem] justify-center">
        <p class="text-[3.2rem] text-[#282C7F] font-bold font-['Libre_Franklin'] tracking-[.06em] max-[440px]:text-[1.8rem]">Reservar</p>
        <img class="max-[440px]:w-[2.2rem]" src="../../../assets/img/icons/whatsapp.svg" alt="">
    </div>
    </a>
  </div>
</div>
