<div class="flex justify-center mt-[7rem] flex-col items-center">
  <h2 class="text-[4.8rem] font-medium tracking-[.08em] text-[#22254C] max-[440px]:text-[2.4rem]">Ubicación</h2>
  <div
    class="flex gap-[2rem] max-[1024px]:gap-[1rem] max-[768px]:gap-[2rem] max-[768px]:flex-col"
  >
    <div
      class="max-[440px]:text-[1.6rem] max-[768px]:text-[1.9rem] flex flex-col max-[768px]:gap-[2rem] max-[768px]:items-start items-end max-[1024px]:text-[1.8rem] text-[2.4rem] tracking-[.1em] text-center gap-[4.5rem]"
    >
      <div class="flex flex-col items-end max-[768px]:items-start">
        <p>Estamos ubicados en Cali, Valle del</p>
        <p>Cauca, en el barrio San Antonio.</p>
      </div>
      <div class="flex flex-col items-end max-[768px]:items-start">
        <p>Calle 2 Oeste #16-32</p>
      </div>
      <div class="flex flex-col items-end max-[768px]:items-start">
        <p class="font-bold">Horario:</p>
        <li>Martes - Sábado 4:00pm a 10:30pm</li>
        <li>Domingo 3:00pm a 11:00pm</li>
      </div>
    </div>
    <div class=" flex rounded-[2.4rem] bg-[#22254C] max-[1024px]:pr-[1rem] max-[1024px]:pb-[1rem] pr-[2rem] pb-[2rem] justify-center">
      <iframe
        class=" rounded-[2.4rem] shadow-2xl min-[1920px]:w-[87.2rem] min-[1920px]:h-[52.5rem] max-[1920px]:w-[87.2rem] max-[1920px]:h-[52.5rem] max-[1920px]:h-[52.5rem] max-[1440px]:w-[75.2rem] max-[1440px]:h-[40.5rem] max-[1024px]:w-[54rem] max-[1024px]:h-[30rem] max-[440px]:w-[35rem] max-[440px]:h-[27rem]"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1991.2908652350452!2d-76.54270500692884!3d3.451387440243336!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e30a67a4ab70b1d%3A0x8159d7bd68a5667b!2sCl.%202%20Oe.%20%231-6%2C%20Normandia%20Sebastian%20de%20Belalcazar%2C%20Cali%2C%20Valle%20del%20Cauca!5e0!3m2!1ses-419!2sco!4v1714036933074!5m2!1ses-419!2sco"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</div>
