<div class="flex justify-center mt-[25rem] flex-col items-center">
  <h2 class="text-[4.8rem] font-medium tracking-[.08em] text-[#22254C]">Ubicación</h2>
  <div
    class="flex ml-[33.1rem] mr-[7.2rem] gap-[3.5rem] justify-end w-[150.9rem] mt-[5rem]"
  >
    <div
      class="flex flex-col items-end text-[2.4rem] tracking-[.1em] text-center gap-[4.5rem]"
    >
      <div class="flex flex-col items-end">
        <p>Estamos ubicados en Cali, Valle del</p>
        <p>Cauca, en el barrio San Antonio.</p>
      </div>
      <div class="flex flex-col items-end ">
        <p c>Calle 2 Oeste #16-32</p>
      </div>
      <div class="flex flex-col items-end ">
        <p class="font-bold">Horario:</p>
        <li>Martes - Sábado 4:00pm a 10:30pm</li>
        <li>Domingo 3:00pm a 11:00pm</li>
      </div>
    </div>
    <div class="justify-end flex rounded-[2.4rem]">
      <iframe
        class="rounded-[2.4rem] shadow-2xl"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1991.2908652350452!2d-76.54270500692884!3d3.451387440243336!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e30a67a4ab70b1d%3A0x8159d7bd68a5667b!2sCl.%202%20Oe.%20%231-6%2C%20Normandia%20Sebastian%20de%20Belalcazar%2C%20Cali%2C%20Valle%20del%20Cauca!5e0!3m2!1ses-419!2sco!4v1714036933074!5m2!1ses-419!2sco"
        width="872"
        height="525"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</div>
