<div id="menuSeccion" class="flex justify-center mt-[25rem] ml-[7.2rem] mr-[7.2rem] flex-col items-center">
    <h2 class="text-[#22254C] text-[4.8rem] font-medium tracking-[.1em]">Menú</h2>
    <div class="grid grid-cols-3 gap-[2rem] mt-[2rem]">
        <app-menu-item></app-menu-item>
        <app-menu-item></app-menu-item>
        <app-menu-item></app-menu-item>
        <app-menu-item></app-menu-item>
        <app-menu-item></app-menu-item>
        <app-menu-item></app-menu-item>
    </div>
</div>