<div
  id="menuSeccion"
  class="flex justify-center mt-[7rem] ml-[7.2rem] mr-[7.2rem] flex-col items-center max-[440px]:mr-[2rem] max-[440px]:ml-[2rem]"
>
  <h2
    class="text-[#22254C] text-[3.2rem] font-bold tracking-[.1em] max-[440px]:text-[1.8rem]"
  >
    Menú
  </h2>
  <div
    class="max-[1024px]:flex max-[1024px]:w-full max-[1025px]:flex-col min-[1025px]:grid min-[1025px]:grid-cols-3 gap-[2rem] mt-[2rem]"
  >
    <app-menu-item
      *ngFor="let item of menuItems; let i = index"
      [title]="item.title"
      [description]="item.description"
      [url]="item.url"
    >
    </app-menu-item>
  </div>
  <button
    class=" max-[1024px]:w-[55%] w-[50%] max-[440px]:h-[3.5rem] max-[768px]:h-[4.5rem] max-[1024px]:h-[5.5rem] min-[1025px]:hidden max-[440px]:w-full bg-[#282C7F] mt-[2rem] mb-[2rem] rounded-[1.6rem] max-[1024px]:text-[4rem] max-[768px]:text-[3rem] max-[440px]:text-[1.6rem] text-white justify-center items-center"
    routerLink="/menu"
  >
    <p class="font-['Libre_Franklin'] m-0 font-bold">Conoce nuestro menú</p>
  </button>
</div>
