<div
  class=" max-[1024px]:gap-[8rem] max-[1024px]:gap-[4rem] min-[1440px]:gap-[12rem]  flex max-[440px]:mt-[2.2rem] items-center justify-center mt-[3.9rem]w-full"
>
  <div class="min-[440px]:hidden cursor-pointer" (click)="openBarMenu(1)">
    <img src="../../../assets/img/icons/sandwichBar.svg" alt="" />
  </div>
  <div class="cursor-pointer" routerLink="/home">
    <div class="inline-block ">
      <div class="flex items-center gap-[.5rem]">
        <p
          class="text-[3.2rem] font-bold text-['kaisei-opti'] text-[#282C7F] m-0 max-[769px]:text-[2.6rem]"
        >
          La Tacita
        </p>
        <div class="flex">
          <div class="w-[2.4rem] h-[2.4rem] rounded-[50%] bg-[#282C7F]"></div>
          <div
            class="w-[2.4rem] h-[2.4rem] rounded-[50%] bg-transparent border-[0.1rem] border-[#282C7F] ml-[-1.2rem]"
          ></div>
        </div>
      </div>
      <div class="flex justify-center mt-[-.8rem]">
        <p
          class="text-[1.4rem] font-normal text-['kaisei-opti'] text-[#000000] m-0"
        >
          Café y Panadería
        </p>
      </div>
    </div>
  </div>
  <div
    class=" max-[1024px]:gap-[1rem] flex gap-[8rem] text-[#22254C] text-[2.4rem] font-[500] justify-center max-[769px]:text-[2rem] max-[440px]:hidden"
  >
  <p (click)="scrollTo('galeria')" class="cursor-pointer">Galería</p>
  <p (click)="scrollTo('bullet')" class="cursor-pointer">Nuestro Espacio</p>
  <p (click)="scrollTo('lugar')" class="cursor-pointer">Ubicación</p>
  <p (click)="scrollTo('menu')" class="cursor-pointer">Menú</p>
  </div>
  <div class="flex items-center gap-[.7rem] max-[769px]:gap-[.9rem]">
    <a target="_blank" href="https://twitter.com/">
      <img
        class="w-[4rem] h-[4rem] max-[440px]:w-[2.56rem] max-[440px]:h-[2.56rem]"
        src="../../../assets/img/icons/x.svg"
        alt=""
      />
    </a>
    <a target="_blank" href="https://www.instagram.com/">
      <img
        class="w-[4rem] h-[4rem] max-[440px]:w-[2.56rem] max-[440px]:h-[2.56rem]"
        src="../../../assets/img/icons/instagram.svg"
        alt=""
      />
    </a>
  </div>
  
</div>
