<div class="flex items-center w-[77%] justify-between mt-[3.9rem] ml-[10.2rem]">
<div class="">
  <div class="inline-block">
    <div class="flex items-center  gap-[.5rem]">
      <p class="text-[3.2rem] font-bold text-['kaisei-opti'] text-[#282C7F] m-0">La Tacita</p>
      <div class="flex">
        <div class="w-[2.4rem] h-[2.4rem] rounded-[50%] bg-[#282C7F]"></div>
        <div
          class="w-[2.4rem] h-[2.4rem] rounded-[50%] bg-transparent border-[0.1rem] border-[#282C7F] ml-[-1.2rem]"
        ></div>
      </div>
    </div>
    <div class="flex justify-center mt-[-.8rem]">
        <p class="text-[1.4rem] font-normal text-['kaisei-opti'] text-[#000000] m-0">Café y Panadería</p>
    </div>
  </div>
</div>
<div class="flex items-center gap-[.7rem]">
  <a target="_blank" href="https://twitter.com/">
    <img class="w-[4rem] h-[4rem] " src="../../../assets/img/icons/x.svg" alt="">
  </a>
  <a target="_blank" href="https://www.instagram.com/">
    <img class="w-[4rem] h-[4rem]" src="../../../assets/img/icons/instagram.svg" alt="">
  </a>
  
</div>
</div>