<div class="h-[60rem] max-[1024px]:hidden group cursor-pointer">
  <div class="w-full h-[60%] rounded-[.8rem]">
    <img class="object-cover w-full h-full rounded-[.8rem] group-hover:scale-105 duration-300 ease-in-out" src="{{ url }}" alt="{{ title }}">
  </div>
  <div class="flex flex-col items-center justify-center mt-[1rem] h-[40%] w-full">
    <div class="flex flex-col items-center justify-center h-[70%] w-full">
      <p class="text-[3.2rem] font-bold text-[#22254C] tracking-[.1em]">{{ title }}</p>
      <p class="text-[2.4rem] text-[#22254C] tracking-[.08em]">{{ description }}</p>
    </div>
    <div class="flex justify-center items-end w-full h-[30%]">
      <button class="flex items-end bg-[#282C7F] rounded-[1.6rem] text-[2.4rem] text-white tracking-[.06em] pl-[1rem] pr-[1rem] pt-[.3rem] pb-[.3rem] font-bold font-['Libre_Franklin']" routerLink="/menu">
        Ver Menú
      </button>
    </div>
  </div>
</div>
<div class="max-[1024px]:h-[15rem] max-[768px]:h-[8rem] w-full min-[1025px]:hidden rounded-[1rem] relative">
  <img class="w-full h-full rounded-[1rem] object-cover" src="{{ url }}" alt="{{ title }}">
  <p class="absolute inset-0 flex items-center justify-center text-white text-[2rem] font-bold bg-black bg-opacity-50 rounded-[.8rem] max-[440px]:text-[2rem] max-[768px]:text-[3rem] max-[1024px]:text-[4rem]">{{ title }}</p>
</div>
