<div class="w-[51.8rem]">
    <div class="w-[51.8rem] h-[35.3rem] bg-[#D9D9D9]">

    </div>
    <div class="flex flex-col items-center justify-center mt-[1rem]">
        <p class="text-[3.2rem] font-bold text-[#22254C] tracking-[.1em]">Cafés</p>
        <p class="text-[2.4rem] text-[#22254C] tracking-[.08em]">Amplia y deliciosa carta de café frío y caliente; dulce y fuerte. Para desayunar o tardear. </p>
        <div class="flex justify-end items-end w-full">
            <button class="bg-[#282C7F] rounded-[1.6rem] text-[2.4rem] text-white tracking-[.06em] pl-[1rem] pr-[1rem] pt-[.3rem] pb-[.3rem] font-bold font-['Libre_Franklin']">Ver Menú</button>
        </div>
    </div>
</div>
