<div
  class="overflow-hidden max-[1023px]:hidden max-[1023px]:p-[1rem] h-[25.5rem] bg-[#282C7F] flex max-[440px]:mt-[2.2rem] items-center justify-center mt-[3.9rem] gap-[12rem] w-full max-[1005px]:gap-[6rem] max-[769px]:gap-[2rem] max-[440px]:gap-[4rem]"
>
  <div class="">
    <div class="inline-block " routerLink="/home">
      <div class="flex items-center gap-[.5rem]">
        <p
          class="text-[3.2rem] font-bold text-['kaisei-opti'] text-[#fff] m-0 max-[769px]:text-[2.6rem]"
        >
          La Tacita
        </p>
        <div class="flex">
          <div class="w-[2.4rem] h-[2.4rem] rounded-[50%] bg-[#fff]"></div>
          <div
            class="w-[2.4rem] h-[2.4rem] rounded-[50%] bg-transparent border-[0.1rem] border-[#fff] ml-[-1.2rem]"
          ></div>
        </div>
      </div>
      <div class="flex justify-center mt-[-.8rem]">
        <p
          class="text-[1.4rem] font-normal text-['kaisei-opti'] text-[#fff] m-0"
        >
          Café y Panadería
        </p>
      </div>
    </div>
  </div>
  <div
    class="flex max-[1220px]:gap-[4rem] max-[1100px]:gap-[1rem] gap-[8rem] text-[#fff] text-[2.4rem] font-[500] justify-center max-[769px]:text-[2rem] max-[440px]:hidden"
  >
    <p class="cursor-pointer">Galería</p>
    <p class="cursor-pointer">Nuestro Espacio</p>
    <p class="cursor-pointer">Ubicación</p>
    <p class="cursor-pointer">Menú</p>
  </div>
  <div class="flex items-center gap-[.7rem] max-[769px]:gap-[.9rem]">
    <a target="_blank" href="https://twitter.com/">
      <img
        class="w-[4rem] h-[4rem] max-[440px]:w-[2.56rem] max-[440px]:h-[2.56rem]"
        src="../../../assets/img/icons/xw.svg"
        alt=""
      />
    </a>
    <a target="_blank" href="https://www.instagram.com/">
      <img
        class="w-[4rem] h-[4rem] max-[440px]:w-[2.56rem] max-[440px]:h-[2.56rem]"
        src="../../../assets/img/icons/instagramw.svg"
        alt=""
      />
    </a>
  </div>
</div>
