<div class="absolute flex justify-center w-full h-full top-0">
    <div class="relative bg-white w-[25rem] h-[23rem] flex justify-center flex-col items-center z-50 mt-[7.8rem] cursor-pointer">
      <div (click)="scrollTo('galeria')" class="hover:bg-[#22254C] hover:text-[#ffffff] flex justify-center items-center border-b-[.07rem] border-[#22254C] basis-1/4 h-full w-full"><p class="text-[1.6rem] font-bold text-['kaisei-opti']">Galería</p></div>
      <div (click)="scrollTo('bullet')" class="hover:bg-[#22254C] hover:text-[#ffffff] flex justify-center items-center border-b-[.07rem] border-[#22254C] basis-1/4 h-full w-full"><p class="text-[1.6rem] font-bold text-['kaisei-opti']">Nuestro Espacio</p></div>
      <div (click)="scrollTo('lugar')" class="hover:bg-[#22254C] hover:text-[#ffffff] flex justify-center items-center border-b-[.07rem] border-[#22254C] basis-1/4 h-full w-full"><p class="text-[1.6rem] font-bold text-['kaisei-opti']">Ubicación</p></div>
      <div (click)="scrollTo('menu')" class="hover:bg-[#22254C] hover:text-[#ffffff] flex justify-center items-center border-b-[.07rem] border-[#22254C] basis-1/4 h-full w-full"><p class="text-[1.6rem] font-bold text-['kaisei-opti']">Menú</p></div>
      <div  class="group hover:bg-[#22254C] text-[#22254C] hover:text-[#ffffff] flex justify-center items-center basis-1/4 h-full w-full " (click)="cerrarBarOverlay(0)">
        <div class="rounded-[50%] border-[.2rem] border-[#22254C] w-[2.4rem] h-[2.4rem] flex justify-center items-center text-[1.5rem] font-bold group-hover:border-white">
          <p class="m-0">X</p>
        </div>
      </div>
    </div>
    <div class="bg-black w-full h-full absolute flex  opacity-80 justify-center">
    </div>
  </div>
